html,
body {
  height: 100%;
}

body {
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", monospace;
}

#form {
  margin: 1vw 2vw;
}

.area {
  font-family: monospace;
}

#check-group {
  margin-top: 16px;
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
  margin-top: 24px;
}
