html,
body {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.content {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 16px;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.input {
  width: 40vw;
  padding: 0.5em;
  font-size: 12px;
  background-color: darkcyan;
  margin-bottom: 12px;
  color: white;
  font-family: monospace;
  margin-right: 16px;
}

textarea {
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7; /* Firefox */
}

.output {
  width: 50vw;
  height: 100px;
  padding: 1em;
}

label {
  margin-bottom: 12px;
}
