/* https://github.com/JetBrains/JetBrainsMono */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html,
body {
  height: 100%;
}

body {
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", monospace;
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  padding: 0px;
}

#form {
  padding: 1vw 2vw;
  flex-grow: 1;
}

.editor {
  width: 100%;
  height: 100%;
}

.code {
  color: cyan;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.6;
}

.row {
  height: 100%;
}

.list-group {
  height: 80vh;
  overflow: scroll;
}

h2,
label {
  color: white;
}

p {
  color: grey;
  font-size: 12px;
}

#check-group {
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-primary {
  width: 100%;
  margin-top: 24px;
}
